.restaurant__background-note {
    height: 275px;
    width: 100%;
    background: url("../assets/Images/restaurants/note.jpg");
    background-position: center;
    background-size: cover
}

@media(min-width: 1440px) {
    .restaurant__background-note {
        height: 400px
    }
}

.restaurant__background-palette {
    height: 275px;
    width: 100%;
    background: url("../assets/Images/restaurants/palette.jpg");
    background-position: center;
    background-size: cover
}

@media(min-width: 1440px) {
    .restaurant__background-palette {
        height: 400px
    }
}

.restaurant__background-delice {
    height: 275px;
    width: 100%;
    background: url("..//assets/Images/restaurants/delice.jpg");
    background-position: center;
    background-size: cover
}

@media(min-width: 1440px) {
    .restaurant__background-delice {
        height: 400px
    }
}

.restaurant__background-francaise {
    height: 275px;
    width: 100%;
    background: url("../assets/Images/restaurants/francaise.jpg");
    background-position: center;
    background-size: cover
}

@media(min-width: 1440px) {
    .restaurant__background-francaise {
        height: 400px
    }
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

* {
    margin: 0;
    padding: 0
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth
}

a {
    text-decoration: none;
    color: #fff
}

li {
    list-style: none
}

h1 {
    font-size: 24px;
    font-weight: 900
}

@media(min-width: 1440px) {
    h1 {
        font-size: 40px
    }
}

h2 {
    font-size: 24px;
    font-weight: 900
}

h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px
}

@media(min-width: 1440px) {
    .desktop__only {
        max-width: 1440px;
        margin: 0 auto
    }
}

.restaurant__section {
    padding: 40px 13px;
    background-color: #eaeaea;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    height: 100%
}

.restaurant__section__title {
    padding: 0 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    margin-bottom: 40px;
    width: 100%
}

.restaurant__section__title h2 {
    font-size: 28px;
    font-weight: 700;
    font-family: "Shrikhand", cursive
}

@media(min-width: 1440px) {
    .restaurant__section__title {
        justify-content: center;
        gap: 20px
    }
}

.restaurant__section__meals {
    width: 100%;
    margin-bottom: 40px
}

.restaurant__section__meals__subtitle {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase
}

.restaurant__section__meals .underline {
    width: 40px;
    height: 3px;
    background-color: #99e2d0
}

@media(min-width: 1440px) {
    .restaurant__section {
        padding: 40px 300px
    }
}

.btn {
    border: none;
    background: linear-gradient(180deg, #ff79da, #9356dc);
    border-radius: 50px;
    color: #fff;
    padding: 13px 18px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    transition: filter .3s;
    cursor: pointer;
    font-size: 16px
}

.btn:hover {
    filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.35)) brightness(1.2)
}

.btn--large {
    padding: 13px 50px
}

.icon--like {
    position: relative
}

.icon--like--empty {
    font-size: 22px;
    padding: 5px
}

.icon--like--full {
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    font-size: 22px;
    left: 0;
    top: 0;
    transform: scale(1.1);
    transform-origin: center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    padding: 5px;
    cursor: pointer
}

.icon--like--full:hover {
    opacity: 1
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    animation: fadeInOut 3s forwards
}

.loader__content {
    position: relative
}

.loader__circle img {
    width: 200px;
    height: 200px
}

.loader__logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 25%;
    animation: spin 2s forwards
}

.loader__bar {
    margin-top: 25px;
    height: 10px;
    border-radius: 50px;
    background: linear-gradient(217deg, #ff79da, #99e2d0 70.71%), linear-gradient(127deg, #008766, #008766 70.71%), linear-gradient(336deg, #9356dc, #ff79da 70.71%);
    animation: loadingBar 2s forwards
}

@keyframes fadeInOut {

    0%,
    80% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    }
}

@keyframes loadingBar {
    0% {
        width: 0%
    }

    20% {
        width: 30%
    }

    50% {
        width: 60%
    }

    80% {
        width: 90%
    }

    100% {
        width: 100%
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    30% {
        transform: rotate(360deg) scale(0.4)
    }

    60% {
        transform: rotate(720deg) scale(1.3)
    }

    100% {
        transform: rotate(1080deg)
    }
}

.card__link {
    display: block;
    width: 100%;
    text-decoration: none;
    height: 251px
}

@media(min-width: 1440px) {
    .card__link {
        height: 263px
    }
}

.card__restaurant {
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 12px;
    width: 100%;
    height: 251px;
    position: relative;
    overflow: hidden
}

.card__restaurant img {
    height: 70%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    object-position: 0 55%;
    transition: transform .5s ease-in-out
}

.card__restaurant:hover>img {
    transform: scale(1.03)
}

.card__restaurant__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    width: 100%;
    margin-top: 15px;
    padding: 0 25px 0 13px;
    position: absolute;
    color: #000
}

.card__restaurant__content--left h3 {
    padding-bottom: 5px;
    z-index: 1
}

@media(min-width: 1440px) {
    .card__restaurant {
        height: 263px
    }
}

.card__restaurant:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 2
}

.meal__card {
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    border-radius: 15px;
    margin: 16px 0;
    overflow: hidden;
    width: 100%;
    transform: translateX(-100px);
    opacity: 0;
    animation: fadeIn 2s forwards;
    cursor: pointer
}

.meal__card__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1
}

.meal__card__header__title,
.meal__card__header__desc {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.meal__card__price {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0;
    padding-left: 8px
}

.meal__card__valid {
    background-color: #99e2d0;
    margin: -16px -75px -16px 16px;
    width: 59px;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    transition: .5s
}

.meal__card__valid__icon {
    height: 24px;
    width: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    border-radius: 50%;
    transform: rotate(180deg);
    transition: transform .5s
}

.meal__card__valid__icon .fa-check {
    color: #99e2d0
}

.meal__card:hover>.meal__card__valid,
.meal__card:focus>.meal__card__valid {
    margin-right: -16px
}

.meal__card:hover>.meal__card__valid>.meal__card__valid__icon,
.meal__card:focus>.meal__card__valid>.meal__card__valid__icon {
    transform: rotate(0deg)
}

.meal__card[data-id="1"] {
    animation-delay: 150ms
}

.meal__card[data-id="2"] {
    animation-delay: 300ms
}

.meal__card[data-id="3"] {
    animation-delay: 450ms
}

.meal__card[data-id="4"] {
    animation-delay: 600ms
}

.meal__card[data-id="5"] {
    animation-delay: 750ms
}

.meal__card[data-id="6"] {
    animation-delay: 900ms
}

.meal__card[data-id="7"] {
    animation-delay: 1050ms
}

.meal__card[data-id="8"] {
    animation-delay: 1200ms
}

.meal__card[data-id="9"] {
    animation-delay: 1350ms
}

.meal__card[data-id="10"] {
    animation-delay: 1500ms
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.functioning__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 10px
}

.functioning__cards__card {
    width: 100%;
    min-width: 265px;
    background-color: #f6f6f6;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0
}

.functioning__cards__card__content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 27px;
    position: relative;
    margin-left: 35px
}

.functioning__cards__card__content p {
    font-weight: 700
}

.functioning__cards__card__content .fa-solid {
    font-size: 20px;
    color: gray
}

.functioning__cards__card__content .purple {
    color: #9356dc
}

.functioning__cards__card__badge {
    position: absolute;
    left: -10px;
    background-color: #9356dc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    border-radius: 50%;
    width: 24px;
    height: 24px
}

.functioning__cards__card__badge p {
    color: #fff;
    font-weight: 300;
    font-size: 14px
}

@media(min-width: 1440px) {
    .functioning__cards {
        flex-direction: row
    }
}

.badge__new {
    width: 80px;
    height: 29px;
    position: absolute;
    background-color: #99e2d0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
    right: 0;
    margin: 20px 20px 0 0;
    z-index: 99
}

.badge__new p {
    color: #008766;
    font-size: 14px;
    font-weight: 700
}

.header {
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    position: relative
}

.header__backBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px
}

.header__backBtn a .fa-arrow-left {
    font-size: 22px;
    color: #000
}

@media(min-width: 1440px) {
    .header {
        height: 93px
    }
}

.footer {
    background-color: #353535;
    padding: 22px 25px
}

.footer__content__img {
    width: 139px;
    filter: invert(1);
    margin-bottom: 16px
}

@media(min-width: 1440px) {
    .footer__content__img {
        float: right;
        margin-right: 50px
    }
}

.footer__content__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px
}

.footer__content__links--icon a {
    margin-left: 11px;
    padding-bottom: 1px
}

.footer__content__links--icon .fa-solid {
    font-size: 13px;
    width: 11px;
    color: #fff
}

.footer__content__links--icon .fa-handshake-simple {
    transform: rotate(-45deg);
    font-size: 12px
}

@media(min-width: 1440px) {
    .footer__content__links {
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 150px;
        align-items: center
    }
}

@media(min-width: 1440px) {
    .footer__content__links li:nth-child(3) {
        padding-left: 30px
    }
}

@media(min-width: 1440px) {
    .footer__content {
        height: 114px;
        margin-top: 64px
    }
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, .1)
}

.location .fa-location-dot {
    font-size: 14px;
    color: #353535;
    padding: 2px
}

.location label {
    opacity: 0;
    width: 0;
    height: 0
}

.location input {
    border: none;
    text-align: center;
    color: #353535;
    width: 115px;
    background-color: #eaeaea;
    font-weight: bold;
    outline: none
}

.hero {
    background-color: #f6f6f6;
    padding: 50px
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
    text-align: center
}

.hero__content p {
    font-weight: 300
}

.functioning {
    padding: 50px 20px
}

.functioning h2 {
    margin-bottom: 26px
}

@media(min-width: 1440px) {
    .functioning {
        padding: 50px 180px
    }
}

.restaurants {
    padding: 50px 20px;
    background-color: #f6f6f6
}

.restaurants h2 {
    margin-bottom: 26px
}

@media(min-width: 1440px) {
    .restaurants h2 {
        max-width: 1440px;
        margin: 0 auto;
        padding-bottom: 26px
    }
}

.restaurants__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%
}

@media(min-width: 1440px) {
    .restaurants__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 100px
    }
}

@media(min-width: 1440px) {
    .restaurants {
        padding: 50px 180px
    }
}

/*# sourceMappingURL=style.css.map */