// -- colors variables --

$purple : #9356DC;
$pink : #FF79DA;
$light_green : #99E2D0;
$dark_green : #008766;
$black : #000000;
$white : #ffffff;


// -- fonts variables -- 

$roboto : 'Roboto', sans-serif;
$shrikhand : 'Shrikhand', cursive;


// -- reset css --

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $roboto;
}

a {
    text-decoration: none;
    outline: none;
}


