@use "../abstracts/" as *;

.footer {
    background-color: $dark_gray;
    padding: 22px 25px;
 
    

    &__content {

        &__img {
            width: 139px;
            filter: invert(1);
            margin-bottom: 16px;

            @include desktop {
                float: right;
                margin-right: 50px;
            }
        }

        &__links {
            @include flex (flex-start, center, column, 7px);

            &--icon a {
                margin-left: 11px;
                padding-bottom: 1px;
            }

            &--icon .fa-solid {
                font-size: 13px;
                width: 11px;
                color: $white;
            }

            &--icon .fa-handshake-simple {
                transform: rotate(-45deg);
                font-size: 12px;
            }

         @include desktop {
            flex-direction: row;
            justify-content: flex-end;
            padding-right: 150px;
            align-items: center;
         }
         
         li:nth-child(3) {
            @include desktop {
                padding-left: 30px;
            }  
         } 
                    
        }

        @include desktop {
            height: 114px;
            margin-top: 64px;
        }
    }

}