@use "../abstracts/" as *;

.loader {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: white;
  @include flex(center, center);
  animation: fadeInOut 3s forwards;
  
  &__content {
    position: relative;
  }

  &__circle img {
    width: 200px;
    height: 200px;
  }

  &__logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 25%;
    animation: spin 2s forwards;
  }

  &__bar {
    margin-top: 25px;
    height: 10px;
    border-radius: 50px;
    background: linear-gradient(217deg, $pink, $light_green 70.71%),
      linear-gradient(127deg, $dark_green, $dark_green 70.71%),
      linear-gradient(336deg, $purple, $pink 70.71%);
    animation: loadingBar 2s forwards;
  }
}

@keyframes fadeInOut {
  0%,80% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

}

@keyframes loadingBar {
  0% {
    width: 0%;
  }

  20% {
    width: 30%;
  }

  50% {
    width: 60%;
  }

  80% {
    width: 90%;
  }

  100% {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  30% {
    transform: rotate(360deg) scale(0.4);
  }

  60% {
    transform: rotate(720deg) scale(1.3);
  }

  100% {
    transform: rotate(1080deg);
  }
}
