@use "../abstracts/" as *;

.meal__card {
    background-color: $white;
    padding: 16px;
    @include flex(center, center);
    border-radius: 15px;
    margin: 16px 0;
    overflow: hidden;
    width: 100%;
    transform: translateX(-100px);
    opacity: 0;
    animation: fadeIn 2s forwards;
    

    &__header {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;

        &__title, &__desc {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

    }

    &__price {
        font-weight: bold;
        @include flex (flex-end, flex-end);
        padding-left: 8px;
    }

    &__valid {
        background-color: $light_green;
        margin: -16px -75px -16px 16px;
        width: 59px;
        height: 73px;
        @include flex(center, center);
        transition: 0.5s;

        &__icon {
            height: 24px;
            width: 24px;
            background-color: white;
            @include flex (center, center);
            border-radius: 50%;
            transform: rotate(180deg);
            transition: transform 0.5s;

            .fa-check {
                color: $light_green;
            }

        }
    }

    &:hover {
        & > .meal__card__valid {
          margin-right: -16px;
        }
    
        & > .meal__card__valid > .meal__card__valid__icon {
          transform: rotate(0deg);
        }
      }

      @for $i from 1 through $max_menu {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
          }
    }
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100px);
        
    }
    to {
        opacity: 1;
        transform: translateX(0);
       
    }
}

